@font-face {
    font-family: 'Satisfy';
    src: url('https://fonts.googleapis.com/css?family=Satisfy'); /* IE9 Compat Modes */
    src: url('https://fonts.googleapis.com/css?family=Satisfy') format('embedded-opentype'), /* IE6-IE8 */
    url('https://fonts.googleapis.com/css?family=Satisfy') format('woff'), /* Modern Browsers */
    url('https://fonts.googleapis.com/css?family=Satisfy')  format('truetype'), /* Safari, Android, iOS */
    url('https://fonts.googleapis.com/css?family=Satisfy') format('svg'); /* Legacy iOS */
}

.eventHeaderImage{
    height:450px;
    width:450px;
    object-fit: contain;
    filter:brightness(90%);

}
.eventHeaderBox {
    border: 0 solid goldenrod;
    background-color: rgba(218,165,32,0.7);
    line-height: 1.1em;
    max-height: 5em;
//margin: 1em;
    padding: .1em;

    width: 20em;
    border-radius: 5px;
    z-index: 2323;
}
.eventHeaderText{
    font-family: 'Niconne', cursive;
    color:white;
    font-size: 70px;
    padding-bottom: 5px;
    line-height: 1.1em;
}
#hero{
    //top: 436px;
}
#video{
    width: 640px;
    height: 352px;
}

#normalDiv, #normalDiv2 {
    display: none;
}

#rotatingDiv {
    display: flex;
}

@media (max-width: 896px) {
    #hero{
        //left:40px;
        top:400px;
    }
    #hero h1 {
        margin-top: 25px;
        font-size: 50px;
        line-height: 30px;
    }

    #hero .eventHeaderBox{
        min-width:15em;
        max-width:15em;
        width:15em;

    }

}
@media (max-width: 896px) {
    .arrowRemove span{
      display:none;
    }
}
@media (max-width: 896px) {
    #videoRow video{
        width:300px;
        height:200px;
    }
}

#content-desktop {

    display: block;
}

#content-mobile {

    display: none;
}

@media (max-width:896px) {

    img#hide {
        display: none;
    }

    #content-desktop {
        display: none;
    }

    #content-mobile {
        display: block;
    }

    #normalDiv, #normalDiv2 {
        display: inline;
    }
    
    #rotatingDiv {
        display: none;
    }

    .carousel12 nav {
        display: none;
    }
    .carousel12 nav button {
        display: none;
    }
}

.carousel1 {
    padding: 20px;
    -webkit-perspective: 500px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel1 > * {
    flex: 0 0 auto;
}
.carousel1 figure {
    margin: 0;
    width: 40%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel1 figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
}
.carousel1 figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.carousel1 nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel1 nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
}

/*Rotating/Normal button style*/
.carousel12 nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel12 nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: goldenrod;
    background: white;
    font-weight: bold;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
}