<h2 class="section-title-lowercase collapsible" >DR Parade (8/10/19)</h2>
<div class="content">
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/v1_event10.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(10)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-1.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(581)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-2.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(582)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-3.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(583)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-4.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(584)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-5.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(585)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-6.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(586)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-7.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(587)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-8.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(588)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-9.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(589)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-10.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(590)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-11.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(591)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-12.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(592)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-13.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(593)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-14.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(594)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-15.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(595)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-16.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(596)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-17.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(597)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-18.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(598)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-19.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(599)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-20.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(600)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-21.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(601)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-22.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(602)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-23.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(603)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-24.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(604)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-25.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(605)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-26.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(606)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-27.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(607)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-28.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(608)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-29.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(609)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-30.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(610)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-31.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(611)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-32.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(612)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-33.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(613)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-34.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(614)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-35.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(615)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-36.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(616)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-37.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(617)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-38.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(618)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-39.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(619)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-40.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(620)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-41.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(621)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-42.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(622)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC%20-%20DR%20Parade-43.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(623)" class="hover-shadow cursor">
            </div>
        </div>
    </div>
</div>