<h2 class="section-title-lowercase collapsible" >El Ninja Valentine's Day (2/14/20)</h2>
<div class="content">
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAR-ElNinjaValentinesDay-1.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(1027)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAR-ElNinjaValentinesDay-.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(1)" class="hover-shadow cursor">
            </div>
        </div>
    </div>
</div>