<h2 class="section-title-lowercase collapsible" >El Ninja (11/1/19) & (11/3/19)</h2>
<div class="content">
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/v1_event11.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(11)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/v1_event12.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(12)" class="hover-shadow cursor">
            </div>
        </div>
    </div>
</div>