<h2 class="section-title-lowercase collapsible" >El Primer Tipicazo (10/11/19)</h2>
<div class="content">
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/v1_event5.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(5)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/v1_event6.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(6)" class="hover-shadow cursor">
            </div>
        </div>
    </div>
</div>