<h2 class="section-title-lowercase collapsible" >El Primer Tipicazo (10/11/19)</h2>
<div class="content">
    <div class="gallery-border">
        <div class="row">
            <div class="column">
                <img id="galleryImg" src="img/v1_event5.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(5)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/v1_event6.png" style="width:100%" onclick="openVideoModal();currentVideoSlide(6)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-1.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(806)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-2.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(807)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-3.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(808)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-4.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(809)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-5.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(810)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-6.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(811)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-7.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(812)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-8.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(813)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-9.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(814)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-10.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(815)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-11.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(816)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-12.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(817)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-13.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(818)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-14.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(819)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-15.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(820)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-16.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(821)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-17.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(822)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-18.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(823)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-19.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(824)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-20.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(825)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-21.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(826)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-22.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(827)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-23.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(828)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-24.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(829)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-25.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(830)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-26.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(831)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-27.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(832)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-28.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(833)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-29.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(834)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-30.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(835)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-31.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(836)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-32.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(837)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-33.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(838)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-34.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(839)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-35.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(840)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-36.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(841)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-37.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(842)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-38.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(843)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-39.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(844)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-40.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(845)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-41.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(846)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-42.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(847)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-43.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(848)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-44.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(849)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-45.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(850)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-46.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(851)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-47.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(852)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-48.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(853)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-49.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(854)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-50.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(855)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-51.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(856)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-52.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(857)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-53.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(858)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-54.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(859)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-55.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(860)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-56.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(861)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-57.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(862)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-58.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(863)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-62.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(864)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-63.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(865)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-64.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(866)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-65.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(867)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-66.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(868)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-67.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(869)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-68.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(870)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-69.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(871)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-70.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(872)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-71.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(873)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-72.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(874)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-73.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(875)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-74.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(876)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-75.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(877)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-76.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(878)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-77.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(879)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-78.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(880)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-79.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(881)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-80.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(882)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-81.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(883)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-82.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(884)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-83.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(885)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-84.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(886)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-85.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(887)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-86.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(888)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-87.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(889)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-88.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(890)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-89.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(891)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-90.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(892)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-91.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(893)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-92.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(894)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-93.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(895)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-94.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(896)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-95.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(897)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-96.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(898)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-97.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(899)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-98.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(900)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-99.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(901)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-100.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(902)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-101.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(903)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-102.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(904)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-103.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(905)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-104.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(906)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-105.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(907)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-106.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(908)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-107.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(909)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-108.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(910)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-109.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(911)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-110.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(912)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-111.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(913)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-112.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(914)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-113.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(915)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-114.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(916)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-115.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(917)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-116.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(918)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-117.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(919)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-118.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(920)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-119.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(921)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-120.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(922)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-121.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(923)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-122.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(924)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-123.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(925)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-124.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(926)" class="hover-shadow cursor">
            </div>
            <div class="column">
                <img id="galleryImg" src="img/EventsThumb/MAC-ElPrimerTipicazo-125.jpg" style="width:100%" onclick="openEventModal();currentEventSlide(927)" class="hover-shadow cursor">
            </div>

        </div>
    </div>
</div>