<div id="careerModal" class="modal">
    <span class="close cursor" onclick="closeCareerModal()">&times;</span>
    <div class="modal-content">

        <div class="careerSlides">
            <div class="numbertext">1 /1</div>
            <img id="galleryImg" src="img/Events/hiring.jpeg" style="width:100%" alt="Bartender Hiring Info">
            <center style="color: white;">Bartender Hiring Info</center>
        </div>

        <a class="prev" onclick="plusCareerSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusCareerSlides(1)">&#10095;</a>
    </div>
</div>