<div id="videoModal" class="modal">
    <span class="close cursor" onclick="closeVideoModal()">&times;</span>
    <div class="modal-content">

        <div class="videoSlides">
            <div class="numbertext">1 /15</div>
            <!--video controls id="galleryVid" src="vid/event_video.MP4" title="Miss Dominican Republic 2019" style="width:100%"></video-->
            <!--video id="galleryVid" title="Miss Dominican Republic 2019" style="width:100%" controls>
                <source src="vid/event_video.MP4" type="video/mp4">
                Your browser does not support the video tag.
            </video-->
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/yOjDvSpLArI?rel=0&amp;showinfo=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">Miss Dominican Republic 2019</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">2 /15</div>
            <!--video controls id="galleryVid" src="vid/event_video2.mp4" title="El Varon De La Bachata" style="width:100%"></video-->
            <!--video id="galleryVid" title="El Varon De La Bachata" style="width:100%" controls>
                <source src="vid/event_video2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video-->
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/MoOaE8oNfzU?rel=0&amp;showinfo=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Varon De La Bachata</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">3 /15</div>
            <!--video controls id="galleryVid" src="vid/event_video2.mp4" title="El Varon De La Bachata" style="width:100%"></video-->
            <!--video id="galleryVid" title="Don Miguelo Concert" style="width:100%" controls>
                <source src="vid/event_video3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video-->
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/Spb4DWDp9ts?rel=0&amp;showinfo=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">Don Miguelo Concert</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">4 /15</div>
            <!--video controls id="galleryVid" src="vid/event_video2.mp4" title="El Varon De La Bachata" style="width:100%"></video-->
            <!--video id="galleryVid" title="Adolescentes Concert" style="width:100%" controls>
                <source src="vid/event_video4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video-->
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/uAkRHBR4FzY?rel=0&amp;showinfo=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">Adolescentes Concert</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">5 /15</div>
            <!--video controls id="galleryVid" src="vid/event_video2.mp4" title="El Varon De La Bachata" style="width:100%"></video-->
            <!--video id="galleryVid" title="Adolescentes Concert" style="width:100%" controls>
                <source src="vid/event_video4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video-->
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/1V5h9hi-lf0?rel=0&amp;showinfo=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Primer Tipicazo</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">6 /15</div>
            <!--video controls id="galleryVid" src="vid/event_video2.mp4" title="El Varon De La Bachata" style="width:100%"></video-->
            <!--video id="galleryVid" title="Adolescentes Concert" style="width:100%" controls>
                <source src="vid/event_video4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video-->
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/o6kgarMCsTA?rel=0&amp;showinfo=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Primer Tipicazo 2</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">7 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/XBGMaiJtxs8?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Varon De La Bachata 2</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">8 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/yfEbsATAmKE?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Varon De La Bachata 3</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">9 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/xfaDdgZGm7M?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">PHSLA Award Ceremony</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">10 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/XoPCieHEDL4?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">DR Parade</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">11 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/EGx7DpPm5M0?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Ninja Promo 1</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">12 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/F15XEZrJjLA?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">El Ninja Promo 2</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">13 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/-avfRkSzrqA?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">Optimo Concert Highlights</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">14 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/ecU1zISjC8E?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">Karlos Rose & Optimo Concert</center>
        </div>

        <div class="videoSlides">
            <div class="numbertext">15 /15</div>
            <center>
                <iframe id="galleryVid" width="67%" height="430px" src="https://www.youtube.com/embed/szU3oxc7800?rel=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </center>
            <center style="color: white;">La Insuperable Promo</center>
        </div>

        <a class="prev" onclick="plusVideoSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusVideoSlides(1)">&#10095;</a>
    </div>
</div>